<html>
	<meta charset="UTF-8"/>
	<head th:replace="~{base :: head}"></head>
	<body onload="onLoad()">
		<div th:replace="~{base :: logo}"></div>
	
		<div class="container" id="ofertas">
			<div th:replace="~{base :: titulo('Últimos Pedidos')}"></div>
							
			<div class="card mb-3" v-for="pedido in pedidos">
				<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>
				
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8  mb-3">
							<div class="row">
								<div class="col-md-5">Valor: <input /></div>
								<div class="col-md-7">Data da entrega: <input /></div>
							</div>
							
							<div>Produto</div>
							<div> <a v-bind:href="pedido.urlProduto"></a>{{pedido.nomeProduto}}</div>
							
							<div>Descrição</div>
							<div>
								<textarea class="form-control">{{pedido.descricao}}</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="pedido.urlImagem" src=""/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			function onLoad() {
				var app = new Vue({
					  el: '#ofertas',
					  data: {
					    pedidos: [
				    	{
				    		"id": 21,
				    		"nomeProduto": "Xiaomi Poco X3-64Gb",
				    		"valorNegociado": 1700,
				    		"dataDaEntrega": null,
				    		"urlProduto": "https://www.amazon.com.br/gp/product/B08H5J2JWH?pf_rd_r=874AMZ431CET3V4VV98T&pf_rd_p=72a7651a-a7d8-4551-b248-c61480b6ce6e&pd_rd_r=90037cb8-dd87-4c3a-9beb-c8d0d9896dee&pd_rd_w=xhmno&pd_rd_wg=tbpaw&ref_=pd_gw_unk",
				    		"urlImagem": "https://images-na.ssl-images-amazon.com/images/I/51vA5toXXbL._AC_.jpg",
				    		"descricao": "Um bom custo-benefício.",
				    		"status": "AGUARDANDO"
				    		},
				    		{
				    		"id": 1,
				    		"nomeProduto": "Kindle",
				    		"valorNegociado": 200,
				    		"dataDaEntrega": null,
				    		"urlProduto": "https://www.amazon.com.br/Kindle-10a-gera%C3%A7%C3%A3o-ilumina%C3%A7%C3%A3o-embutida/dp/B07FQK1TS9/ref=asc_df_B07FQK1TS9/?tag=googleshopp00-20&linkCode=df0&hvadid=432951822456&hvpos=&hvnetw=g&hvrand=17413742439289834887&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001634&hvtargid=pla-901759904091&psc=1",
				    		"urlImagem": "https://images-na.ssl-images-amazon.com/images/I/61X0ISBpD-L._AC_SL1000_.jpg",
				    		"descricao": "Anything really just for testing purposes",
				    		"status": "AGUARDANDO"
				    		} ]
					  }
				});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</body>
</html>